<header>



  <% if user_signed_in? %>
    <li>
    <!-- <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> -->
    <meta http-equiv="refresh" content="0; URL='/videos'" />
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
</header>
