<header>
  <h1 class="text-center"> Hey Bitches</h1>
  <br>
  <br>
  <h3 class="text-center"> <a href="https://guarded-lowlands-17461.herokuapp.com/videos"> Here </a>are some terrible songs. You're welcome! </h3>


  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
</header>
