<h2>Rednex - Cotton Eye Joe</h2>

<iframe width="640" height="360" src="https://www.youtube.com/embed/VcDy8HEg1QY" frameborder="0" allowfullscreen></iframe>
<p>Bullshit, bullshit, etc.</p>
<%= Video.all.name %>
  <%  @videos.each do |video| %>
  <%= commontator_thread(video) %>
  <% end %>
<br>
<br>
<h2>Soulja Boy - Crank Dat</h2>
<iframe width="640" height="360" src="https://www.youtube.com/embed/8UFIYGkROII" frameborder="0" allowfullscreen></iframe>
