// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  width: 100%;
  background: url(https://i.ytimg.com/vi/XcKkFO5WuO0/maxresdefault.jpg);
  background-image: url("https://i.ytimg.com/vi/XcKkFO5WuO0/maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  overflow: hidden;
  position: relative;
  padding: 12em 0;
}
