// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  width: 100%;
  background: url(https://i.ytimg.com/vi/XcKkFO5WuO0/maxresdefault.jpg);
  background-image: url("https://i.ytimg.com/vi/XcKkFO5WuO0/maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  overflow: hidden;
  position: relative;
  padding: 12em 0;
}

h1 {
  font-weight: 600;
  font-size: 10rem;
  text-shadow: 2px 2px 6px black;
  // margin-bottom: 0.6em;
}

header p {
  font-weight: 100;
  font-size: 4rem;
  text-shadow: 2px 2px 6px black;
  margin-bottom: 7rem;
}

.video {
  margin-left: 3em;
}

.video p {
  width: 640px;
}

// #commontator_thread {
//     background: #fff;
//     border: 1px solid #eee;
//     border-radius: 5px;
//     box-shadow: 0 1px 4px rgba(0, 0, 0, .08);
//     font-family: helvetica, arial, sans-serif;
//     max-height: 200px;
//     overflow-y: scroll;
//     position: absolute;
//     max-width: 640px;
//   }
